@font-face {
  font-family: "iconfont"; /* Project id 4738289 */
  src: url('iconfont.woff2?t=1730969589243') format('woff2'),
       url('iconfont.woff?t=1730969589243') format('woff'),
       url('iconfont.ttf?t=1730969589243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Nodejs:before {
  content: "\e7a4";
}

.icon-tubiaozhizuomoban:before {
  content: "\e600";
}

.icon-csdn:before {
  content: "\e601";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-github:before {
  content: "\e63a";
}

.icon-weixinxiaochengxu:before {
  content: "\e6e2";
}

.icon-vex:before {
  content: "\e64b";
}

.icon-babel:before {
  content: "\e62d";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-antd:before {
  content: "\e677";
}

.icon-vant:before {
  content: "\e678";
}

.icon-cib-next-js:before {
  content: "\e734";
}

.icon-jsongeshihua:before {
  content: "\e608";
}

.icon-logo:before {
  content: "\e602";
}

.icon-redux:before {
  content: "\e72f";
}

.icon-vueuse:before {
  content: "\e603";
}

.icon-uni-app:before {
  content: "\e621";
}

.icon-juejin:before {
  content: "\e604";
}

.icon-ahooks:before {
  content: "\e605";
}

.icon-element-plus:before {
  content: "\e690";
}

.icon-ECharts:before {
  content: "\e928";
}

.icon-pinia:before {
  content: "\e60c";
}

.icon-Esbuild:before {
  content: "\e735";
}

.icon-chatgpticon:before {
  content: "\e606";
}

